*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f1c40f;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.header #logo{
    width: 100px;

}

.header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header nav ul li{
    list-style: none;
    margin-right: 12px;
}

.header nav ul li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
}

.header nav ul li a img{
    width: 30px;
    margin-right: 5px;
}

.header nav ul li a img:hover{
    transform: scale(1.7);
    transition: 0.3s;
}

.header nav ul li a:hover{
    font-size: 20px;
    transition: 0.3s;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, white 10%, brown 100%);
}

.inventory{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.inventory .books{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventory .books .book{
    margin-right: 30px;
    padding: 0 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    list-style: none;
}

.book-image{
    width: 100px;
}
.book:hover{
    transform: scale(1.1);
    transition: 0.3s;
    .book-image{
        width: 150px;
        transition: 0.3s;
    }
}

.add-to-cart{
    background-color: #f1c40f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #f39c12;
    transition: 0.3s;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}